/* photo gallery - ORIGINAL VERSION */
#pgallery img {
    margin:0;
    display:block;
    }

/* for page-reload non-carousel version: */
#pgallery .largeImage {
    width:602px;
    margin:0 0 7px 0;
    position:relative;
    overflow:hidden;
    }

#pgallery .largeImage img {
    display:block;
    padding:1px;
    border:none;
    _margin-right:-3px;
    _padding:1px 0;
    cursor:pointer;
    }

#pgallery #photonav {
    margin-bottom:10px;
    }

#pgallery #photonav, #pgallery #photonav a {
    color:#386cb4;
    }

#pgallery #photonav ul {
    text-align:center;
    }

#pgallery #photonav ul li.prev {
    float:left;
    width:6em;
    }

#pgallery #photonav ul li.next {
    float:right;
    width:6em;
    }

#pgallery #photonav ul li.paginate-position {
    margin:0;
    font:normal 85% arial;
    padding-top:5px;
    }

/* PREV BUTTON */
#pgallery #photonav .prev a.btn {
    display:block;
    cursor:pointer;
    width:18px;
    height:0;
    padding-top:18px;
    overflow:hidden;
    background:transparent url(../imgs/hgtv_ui_207.png) no-repeat -267px -481px;
    text-align:center;
    float:left;
    margin-right:5px;
    }

#pgallery #photonav .prev a.btn:hover, #pgallery #photonav .prev a.hover {
    background-position:-303px -481px;
    }

#pgallery #photonav .prev a.btn:active {
    background-position:-339px -481px;
    }

#pgallery #photonav .prev a.disabled, #pgallery .photonav .prevlnk a.disabled:hover, #pgallery .photonav .prevlnk a.disabled:active {
    cursor:default;
    background-position:-375px -481px;
    }

#pgallery #photonav .prev span {
    color:#999;
    padding:2px 0;
    }

/* NEXT BUTTON */
#pgallery #photonav .next a.btn {
    display:block;
    cursor:pointer;
    width:18px;
    height:0;
    padding-top:18px;
    overflow:hidden;
    background:transparent url(../imgs/hgtv_ui_207.png) no-repeat -285px -481px;
    text-align:center;
    float:right;
    margin-left:5px;
    }

#pgallery #photonav .next a.btn:hover, #pgallery #photonav .next a.hover {
    background-position:-321px -481px;
    }

#pgallery #photonav .next a.btn:active {
    background-position:-357px -481px;
    }

#pgallery #photonav .next a.disabled, #pgallery .photonav .next a.disabled:hover, #pgallery .photonav .next a.disabled:active {
    cursor:default;
    background-position:-393px -481px;
    }

#pgallery #photonav .next span {
    color:#999;
    }

#pgallery .largeImage .imgpanel {
    display:block;
    width:588px;
    position:absolute;
    bottom:1px;
    left:1px;
    z-index:101;
    _z-index:1000;
    padding:5px 7px 10px 7px;
    background:url(../imgs/gallery-txt.png) repeat-y 0 0;
    font-size:100%;
    text-align:left;
    }

#pgallery .largeImage .imgpanel .close-btn {
    display:block;
    float:right;
    width:80px;
    margin-bottom:8px;
    background:transparent url(../imgs/photogallery_close.png) no-repeat right center;
    outline:none;
    padding-right:16px;
    text-align:right;
    cursor:pointer;
    }

#pgallery .largeImage .imgpanel .open-btn {
    display:block;
    float:right;
    width:80px;
    margin-bottom:8px;
    background:url(../imgs/photogallery_toggle.png) no-repeat right 4px;
    outline:none;
    padding-right:16px;
    text-align:right;
    cursor:pointer;
    display:none;
    }

#pgallery .largeImage .imgpanel em {
    display:block;
    color:#fff;
    font-weight:bold;
    font-style:normal;
    }

#pgallery .largeImage .imgpanel .desc em {
    display:inline;
    font-weight:normal;
    font-style:italic;
    }

#pgallery .largeImage .imgpanel span {
    display:block;
    color:#faf5ef;
    font-size:85%;
    }

#pgallery .largeImage .imgpanel span.desc {
    clear:right;
    }

#pgallery .largeImage .imgpanel .desc a {
    color:#ef4141;
    }

/* photo gallery - Ver. 3.0 (sync with Food versioning) */
/* generic large button */
.lgbtn {
    display:block;
    height:29px;
    }

.lgbtn .lgbtn-lfcap {
    display:block;
    float:left;
    width:13px;
    height:29px;
    }

.lgbtn .lgbtn-text {
    display:block;
    float:left;
    height:15px;
    padding:7px 0 7px;
    font:bold 92% "Trebuchet MS", Verdana, sans-serif;
    }

.lgbtn .lgbtn-rtcap {
    display:block;
    float:left;
    width:13px;
    height:29px;
    }

.lgbtn.sel .lgbtn-lfcap {
    background:url(../imgs/ui.png) left -29px;
    }

.lgbtn.sel .lgbtn-text {
    background:url(../imgs/ui.png) -2px -29px;
    text-decoration:none;
    cursor:default;
    }

.lgbtn.sel .lgbtn-rtcap {
    background:url(../imgs/ui.png) right -29px;
    }

.lgbtn a {
    text-decoration:none;
    }

.lgbtn a .lgbtn-lfcap {
    background:url(../imgs/ui.png) left 0;
    }

.lgbtn a .lgbtn-text {
    background:url(../imgs/ui.png) -2px 0;
    cursor:pointer;
    color:#fff;
    text-decoration:none;
    }

.lgbtn a .lgbtn-rtcap {
    background:url(../imgs/ui.png) right 0;
    }

.lgbtn a:hover .lgbtn-lfcap {
    text-decoration:none;
    background:url(../imgs/ui.png) left -29px;
    }

.lgbtn a:hover .lgbtn-text {
    text-decoration:none;
    background:url(../imgs/ui.png) -2px -29px;
    }

.lgbtn a:hover .lgbtn-rtcap {
    text-decoration:none;
    background:url(../imgs/ui.png) right -29px;
    }

.lgbtn a:active .lgbtn-lfcap {
    background:url(../imgs/ui.png) left -58px;
    }

.lgbtn a:active .lgbtn-text {
    background:url(../imgs/ui.png) -2px -58px;
    text-decoration:none;
    }

.lgbtn a:active .lgbtn-rtcap {
    background:url(../imgs/ui.png) right -58px;
    }

.pglnks li {
    float:left;
    line-height:normal;
    }

.pglnks li a {
    display:block;
    float:left;
    font-size:85%;
    margin-right:2px;
    }

.pglnks li span {
    display:block;
    float:left;
    font-size:85%;
    margin-right:2px;
    }

#pgallery3 {
    width:602px;
    margin:14px;
    margin-bottom:28px;
    clear:both;
    z-index:100;
    }

#pgallery3 img {
    margin:0;
    }

#pgallery3 .photowrap {
    position:relative;
    z-index:101;
    }

#pgallery3 .largeImage {
    width:602px;
    height:452px;
    margin:0;
    position:relative;
    overflow:hidden;
    z-index:101;
    }

#pgallery3 .largeImage.hide {
    display:none;
    }

#pgallery3 .largeImage img {
    width:602px;
    height:452px;
    display:block;
    padding:0;
    border:none;
    _margin-right:-3px;
    _padding:1px 0 0;
    }

#pgallery3 .largeImage.loading {
    display:none;
    position:absolute;
    top:0;
    height:100%;
    z-index:105;
    background-color:#666;
    opacity:0.8;
    filter:alpha(opacity = 80);
    }

#pgallery3 .largeImage.loading span {
    display:block;
    width:30px;
    height:30px;
    margin:196px auto 0;
    background:url(../imgs/hg-loader.gif) no-repeat 0 0;
    }

#pgallery3 .largeImage.loading p {
    margin:4px auto;
    text-align:center;
    color:#ddd;
    font-family:Verdana, arial, sans-serif;
    letter-spacing:.2em;
    }

#pgallery3 .largeImage.vert-shr {
    background-color:#242424;
    }

#pgallery3 .largeImage .imgwrap {
    width:602px;
    height:452px;
    position:relative;
    }

#pgallery3 .largeImage.vert-shr img {
    width:339px;
    }

#pgallery3 .largeImage.vert-shr .imgwrap {
    width:339px;
    margin:0 auto;
    }

#pgallery3 .largeImage.vert-enl, #pgallery3 .largeImage.vert-enl .imgwrap, #pgallery3 .largeImage.vert-enl img {
    height:802px;
    }

#pgallery3 .largeImage.vert-enl img {
    width:602px;
    }

#pgallery3 .largeImage .vtoggle {
    display:none;
    position:absolute;
    top:0;
    right:0;
    text-decoration:none;
    *cursor:pointer;
    }

#pgallery3 .largeImage .vtoggle span {
    display:block;
    float:left;
    height:24px;
    line-height:24px;
    width:24px;
    text-indent:-999em;
    background:url(../imgs/sp-pg3.png) no-repeat;
    }

#pgallery3 .largeImage .vtoggle.enl span {
    background-position:-7px -7px;
    }

#pgallery3 .largeImage .vtoggle.shr span {
    background-position:-38px -7px;
    }

#pgallery3 .largeImage .vtoggle span.more {
    display:none;
    padding:0 7px;
    width:auto;
    font-size:100%;
    color:#fff;
    font-weight:bold;
    border-top-left-radius:1px;
    -moz-border-radius-topleft:1px;
    -webkit-border-top-left-radius:1px;
    border-bottom-left-radius:1px;
    -moz-border-radius-bottomleft:1px;
    -webkit-border-bottom-left-radius:1px;
    border-right:1px solid #333;
    background:url(../imgs/gallery-txt.png) repeat-y 0 0;
    text-indent:0;
    }

#pgallery3 .largeImage .vtoggle:hover span.more {
    display:block;
    }

#pgallery3 .largeImage.vert-shr .vtoggle.enl {
    display:block;
    }

#pgallery3 .largeImage.vert-enl .vtoggle.shr {
    display:block;
    }

/* top nav: previous / next links with thumbs: */
#pgallery3 ul.photonav {
    margin-bottom:7px;
    height:69px;
    font-size:85%;
    color:#999;
    text-align:center;
    }

#pgallery3 .photonav span {
    }

#pgallery3 .photonav .pagen {
    padding-top:28px;
    }

#pgallery3 .photonav li.prevlnk, #pgallery3 .photonav li.nextlnk {
    width:92px;
    height:69px;
    }

#pgallery3 .photonav a {
    display:block;
    width:92px;
    height:69px;
    position:relative;
    }

#pgallery3 .photonav a:hover {
    cursor:pointer;
    text-decoration:none;
    }

#pgallery3 .photonav a span {
    display:block;
    width:88px;
    color:#eee;
    position:absolute;
    right:0;
    bottom:0;
    text-transform:uppercase;
    line-height:145%;
    background:url(../imgs/gallery-txt.png) repeat-y 0 0;
    }

#pgallery3 .photonav .prevlnk {
    float:left;
    }

#pgallery3 .photonav .prevlnk  span {
    text-align:left;
    padding-left:4px;
    }

#pgallery3 .photonav .nextlnk {
    float:right;
    }

#pgallery3 .photonav .nextlnk  span {
    text-align:right;
    padding-right:4px;
    }

/* image panel (caption/title/asset link) */
#pgallery3 .largeImage .imgpanel {
    display:block;
    width:581px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:102;
    padding:5px 13px 10px 7px;
    background:url(../imgs/gallery-txt.png) repeat-y 0 0;
    font-size:100%;
    text-align:left;
    }

#pgallery3 .largeImage .imgpanel .cap-lnk {
    display:block;
    float:right;
    font-size:77%;
    color:#a6a6a6;
    outline:none;
    text-align:right;
    line-height:127.3%;
    cursor:pointer;
    }

#pgallery3 .largeImage .imgpanel .cap-lnk:hover {
    color:#fff;
    text-decoration:none;
    }

#pgallery3 .largeImage .imgpanel .cap-lnk.close {
    display:block;
    }

#pgallery3 .largeImage .imgpanel .cap-lnk.open {
    display:none;
    }

#pgallery3 .largeImage .imgpanel h2 {
    margin:0;
    padding:2px 0;
    min-height:1em;
    color:#fff;
    font-weight:bold;
    font-size:100%;
    font-family:Arial, sans-serif;
    }

#pgallery3 .largeImage .imgpanel cite {
    display:block;
    margin-top:1px;
    color:#faf5ef;
    font-size:85%;
    line-height:145%;
    }

#pgallery3 .largeImage .imgpanel .lgbtn {
    clear:right;
    float:right;
    margin:4px 0 4px 7px;
    }

#pgallery3 .largeImage .imgpanel .lgbtn .lgbtn-text {
    text-transform:uppercase;
    }

/* bottom nav: pagination w/ pop-up thumbs: */
#pgallery3 .pglnkmask {
    width:299px;
    height:22px;
    overflow:hidden;
    position:relative;
    margin:-80px auto 14px;
    padding-top:94px;
    z-index:100;
    }

#pgallery3 .pglnkmask.popactive {
    z-index:104;
    }

#pgallery3 .pglnkmask  .btn {
    display:block;
    width:18px;
    height:18px;
    margin:0;
    padding:0;
    }

#pgallery3 .pglnkmask .leftctrl {
    position:absolute;
    left:0;
    bottom:0;
    width:44px;
    height:18px;
    border:2px solid #fff;
    border-left:none;
    border-right:none;
    z-index:102;
    background-color:#fff;
    }

#pgallery3 .pglnkmask .leftctrl .btn {
    margin:0 4px 0 22px;
    background:url(../imgs/ui.png) no-repeat scroll -375px -494px;
    text-indent:-999em;
    _background-position:-375px -489px;
    }

#pgallery3 .pglnkmask .leftctrl a .btn {
    background-position:-267px -494px;
    _background-position:-267px -489px;
    }

#pgallery3 .pglnkmask .leftctrl a:hover .btn {
    background-position:-303px -494px;
    _background-position:-303px -489px;
    *cursor:pointer;
    }

    }

#pgallery3 .pglnkmask .leftctrl a:active .btn {
    background-position:-339px -494px;
    _background-position:-339px -489px;
    }

#pgallery3 .pglnkmask .leftctrl a.dis .btn, #pgallery3 .pglnkmask .leftctrl a:hover.dis .btn {
    background-position:-375px -494px;
    cursor:default;
    _background-position:-375px -489px;
    }

#pgallery3 .pglnkmask .rightctrl {
    position:absolute;
    right:0;
    bottom:0;
    width:44px;
    height:18px;
    border:2px solid #fff;
    border-left:none;
    border-right:none;
    z-index:102;
    background-color:#fff;
    }

#pgallery3 .pglnkmask .rightctrl .btn {
    margin:0 22px 0 4px;
    background:url(../imgs/ui.png) no-repeat scroll -393px -494px;
    text-indent:-999em;
    _background-position:-393px -489px;
    }

#pgallery3 .pglnkmask .rightctrl a .btn {
    background-position:-285px -494px;
    _background-position:-285px -489px;
    }

#pgallery3 .pglnkmask .rightctrl a:hover .btn {
    background-position:-321px -494px;
    _background-position:-321px -489px;
    *cursor:pointer;
    }

#pgallery3 .pglnkmask .rightctrl a:active .btn {
    background-position:-357px -494px;
    _background-position:-357px -489px;
    }

#pgallery3 .pglnkmask .rightctrl a.dis .btn, #pgallery3 .pglnkmask .rightctrl a:hover.dis .btn {
    background-position:-393px -494px;
    cursor:default;
    _background-position:-393px -489px;
    }

#pgallery3 .pglnks {
    display:block;
    position:relative;
    left:0;
    margin:0 auto;
    padding-left:1px;
    height:22px;
    z-index:101;
    background-color:#ddd;
    }

#pgallery3 .multipanel .pglnks {
    left:44px;
    margin:0;
    }

#pgallery3 .pglnks li {
    position:relative;
    margin-left:-1px;
    width:22px;
    height:22px;
    }

#pgallery3 .pglnks li a {
    display:block;
    width:22px;
    height:17px;
    margin:0;
    border:none;
    padding-top:5px;
    text-align:center;
    font-weight:bold;
    color:#195a64;
    background:url(../imgs/sp-pg3.png) no-repeat -122px -7px;
    }

#pgallery3 .pglnks li a:hover {
    color:#d72d7f;
    text-decoration:none;
    background:url(../imgs/sp-pg3.png) no-repeat -151px -7px;
    }

#pgallery3 .pglnks li.sel a, #pgallery3 .pglnks li.sel a:hover {
    color:#fff;
    cursor:default;
    background:url(../imgs/sp-pg3.png) no-repeat -180px -7px;
    }

#pgallery3 .pglnks li .tnframe {
    display:none;
    width:110px;
    height:87px;
    position:absolute;
    top:-94px;
    left:-45px;
    z-index:102;
    }

#pgallery3 .pglnks li .tnframe img {
    position:relative;
    margin:7px;
    border:1px solid #d4d4d4;
    padding:1px;
    background-color:transparent;
    opacity:1;
    *filter:alpha(opacity = 100);
    z-index:104;
    }

#pgallery3 .pglnks li .tnframe div {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    height:87px;
    background-color:#333;
    opacity:.8;
    *filter:alpha(opacity = 80);
    z-index:103;
    border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    }

#pgallery3 .largeImage .hs a {
    display:block;
    width:25px;
    height:25px;
    position:absolute;
    background:url(../imgs/sp-pg3.png) no-repeat -69px -7px;
    text-indent:-999px;
    z-index:101;
    }

#pgallery3 .largeImage .hs span {
    display:block;
    visibility:hidden;
    max-width:140px;
    padding:7px;
    position:absolute;
    background:url(../imgs/gallery-txt.png) repeat-y 0 0;
    border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    color:#fff;
    font-size:85%;
    z-index:102;
    text-align:center;
    line-height:145.5%;
    }

#pgallery3 .largeImage .hs span.on {
    visibility:visible;
    }

#pgallery3 .largeImage.vert-enl .hs {
    display:none;
    }

#pgallery3 .largeImage.vert-enl .hs.v {
    display:block;
    }

#pgallery3 .largeImage.vert-shr .hs.v {
    display:none;
    }

#pgallery3 .prod {
    display:none;
    overflow:hidden;
    width:588px;
    height:438px;
    padding:7px;
    position:relative;
    background-color:#151515;
    z-index:101;
    }

#pgallery3 .prod .l {
    float:left;
    width:256px;
    height:438px;
    }

#pgallery3 .prod .l img {
    display:block;
    padding:7px 0 0 7px;
    }

#pgallery3 .prod .l p {
    line-height:100%;
    padding:4px 0 0 7px;
    }

#pgallery3 .prod .l p a {
    font-size:85%;
    color:#73d1c8;
    }

#pgallery3 .prod .l h4 {
    padding:19px 0 0 7px;
    font-weight:bold;
    color:#faf5ef;
    }

#pgallery3 .prod .tab-wrap {
    width:255px;
    overflow:auto;
    }

#pgallery3 .prod ul.tabs {
    width:238px;
    }

#pgallery3 .prod .l .tabs li {
    padding:4px 3px 4px 7px;
    width:228px;
    line-height:107.7%;
    }

#pgallery3 .prod .l .tabs li.sel {
    background-color:#474747;
    }

#pgallery3 .prod .l .tabs li a {
    font-size:85%;
    color:#73d1c8;
    }

#pgallery3 .prod .l .tabs li a:hover {
    font-size:85%;
    text-decoration:underline;
    }

#pgallery3 .prod .l .tabs li.sel a {
    font-weight:bold;
    color:#fff;
    cursor:default;
    }

#pgallery3 .prod .l .tabs li.sel a:hover {
    text-decoration:none;
    }

#pgallery3 .prod .r {
    float:left;
    width:310px;
    height:438px;
    border-left:1px solid #1f1f1f;
    padding:0 7px 0 14px;
    }

#pgallery3 .prod .r a.close {
    display:block;
    float:right;
    width:14px;
    height:14px;
    background:transparent url(../imgs/sp-pg3.png) no-repeat -101px -7px;
    text-indent:-999em;
    }

#pgallery3 .prod .r h4 {
    margin:10px 0 10px;
    line-height:136.4%;
    font-weight:bold;
    color:#fff;
    }

#pgallery3 .prod .r h4 a {
    font-weight:bold;
    color:#fff;
    }

#pgallery3 .prod .r .cont li {
    display:none;
    }

#pgallery3 .prod .r .cont li.sel {
    display:block;
    }

#pgallery3 .prod .r .cont li a.pframe {
    display:block;
    position:relative;
    padding-left:21px;
    width:266px;
    height:200px;
    }

#pgallery3 .prod .r .cont li a.pframe img {
    display:block;
    width:266px;
    height:200px;
    }

#pgallery3 .prod .r .cont li a.pframe span {
    position:absolute;
    bottom:0;
    right:0;
    padding:0 7px 0 10px;
    color:#195a64;
    font-weight:bold;
    background-color:#fff;
    }

#pgallery3 .prod .r .cont li p {
    font-size:85%;
    color:#faf5ef;
    line-height:163.6%;
    }

#pgallery3 .prod .r .relProd {
    margin-top:10px;
    }

#pgallery3 .prod .r .relProd h4 {
    margin-top:0;
    color:#f5f5f5;
    }

#pgallery3 .prod .r .relProd a {
    color:#73d1c8;
    }

#pgallery3 .prod .r .relProd a:hover {
    text-decoration:underline;
    }

#pgallery3 .prod .r .relProd a.more {
    float:right;
    font-size:85%;
    }

#pgallery3 .prod .r .relProd li {
    float:left;
    width:92px;
    margin:0 17px 0 0;
    }

#pgallery3 .prod .r .relProd li.last {
    margin-right:0;
    }

#pgallery3 .prod .r .relProd li img {
    display:block;
    width:92px;
    height:69px;
    }

#pgallery3 .prod .r .relProd li span {
    display:block;
    width:99px;
    margin:2px 10px 0 0;
    font-size:85%;
    line-height:120%;
    }

#pgallery3 .prod .r .relProd li a:hover img, #pgallery3 .prod .r .relProd li a:hover span {
    cursor:pointer;
    }

#pgallery3 .prod .r .relProd li a:hover span {
    text-decoration:underline;
    }

#pgallery3 .lgbtn.hide {
    display:none;
    }

#pgallery3 .largeImage .imgpanel.hide {
    display:none;
    }

/* end frame: heavy on the user interaction */

#pgallery3 .endframe {
    display:none;
    width:560px;
    height:403px;
    padding:21px 21px 28px;
    background-color:#151515;
    }

#pgallery3 .endframe .nav {
    height:27px;
    border-bottom:1px solid #fff;
    padding-left:14px;
    }

#pgallery3 .endframe .nav li {
    float:left;
    }

#pgallery3 .endframe .nav li span {
    float:left;
    }

#pgallery3 .endframe .nav li .lcap, .endframe .nav li .rcap {
    display:block;
    height:26px;
    width:1px;
    border-top:1px solid #191919;
    border-bottom:1px solid #fff;
    background-color:#fff;
    }

#pgallery3 .endframe .nav li .pad {
    display:block;
    height:27px;
    width:4px;
    border-bottom:1px solid #fff;
    }

#pgallery3 .endframe .nav li .cont {
    display:block;
    height:19px;
    padding:7px 14px 0 14px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    }

#pgallery3 .endframe .nav li.sel .lcap, .endframe .nav li.sel .rcap {
    border-bottom-color:#191919;
    }

#pgallery3 .endframe .nav li.sel .cont {
    border-bottom-color:#191919;
    }

#pgallery3 .endframe .nav a {
    display:block;
    height:16px;
    padding-left:22px;
    background:url(../imgs/sp-iconsShare2.png) no-repeat 0 0;
    font-size:85%;
    }

#pgallery3 .endframe .nav li.ymal a {
    padding-left:22px;
    background-position:-1px -10px;
    }

#pgallery3 .endframe .nav li.email a {
    padding-left:21px;
    background-position:-1px -31px;
    }

#pgallery3 .endframe .nav li.share a {
    padding-left:19px;
    background-position:-2px -54px;
    }

#pgallery3 .endframe .nav li.shop a {
    background-position:0 -77px;
    }

#pgallery3 .endframe {
    color:#999;
    font-weight:bold;
    }

#pgallery3 .endframe a {
    color:#fff;
    }

#pgallery3 .endframe a:hover {
    color:#f66;
    text-decoration:underline;
    }

#pgallery3 .endframe p.first {
    margin-top:7px;
    }

#pgallery3 .endframe .tab {
    display:none;
    }

#pgallery3 .endframe .alert, #pgallery3 .endframe label.error {
    padding:0;
    color:#f66;
    background:inherit;
    }

#pgallery3 .endframe .tab .message {
    margin:14px 0 0;
    padding:0;
    }

#pgallery3 .endframe .tab form input, #pgallery3 .endframe .tab form textarea {
    display:block;
    width:400px;
    height:18px;
    padding:4px 7px 0;
    border:1px solid #d8d8d8;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    color:#3d3d3d;
    font-weight:normal;
    font-size:85%;
    }

#pgallery3 .endframe .tab form label {
    display:block;
    margin-bottom:4px;
    }

#pgallery3 .endframe .tab form .wrap {
    float:left;
    margin-top:21px;
    }

#pgallery3 .endframe .tab form .half {
    width:200px;
    }

#pgallery3 .endframe .tab form .half.rt {
    padding-left:16px;
    }

#pgallery3 .endframe .tab form .half input {
    width:184px;
    float:left;
    }

#pgallery3 .endframe .tab form input[type="hidden"] {
    display:none;
    }

#pgallery3 .endframe .tab.ymal a, #pgallery3 .endframe .tab.ymal a:visited, #pgallery3 .endframe .tab.shop a, #pgallery3 .endframe .tab.shop a:visited {
    color:#73d1c8;
    }

#pgallery3 .endframe .tab.ymal a:hover, #pgallery3 .endframe .tab.shop a:hover {
    color:#73d1c8;
    text-decoration:underline;
    }

#pgallery3 .endframe .tab.ymal {
    display:block;
    font-size:85%;
    }

#pgallery3 .endframe .tab.ymal {
    margin-top:28px;
    }

#pgallery3 .endframe .tab.ymal li {
    float:left;
    width:261px;
    margin:21px 10px 52px 0;
    }

#pgallery3 .endframe .tab.ymal img {
    float:left;
    width:92px;
    height:69px;
    border:1px solid #d4d4d4;
    padding:1px;
    margin-right:7px;
    background-color:transparent;
    }

#pgallery3 .endframe .tab.share, #pgallery3 .endframe .tab.email {
    padding:0 63px;
    }

#pgallery3 .endframe .tab.share p {
    margin:17px 0 7px;
    }

#pgallery3 .endframe .tab.share ul {
    margin-bottom:28px;
    }

#pgallery3 .endframe .tab.share li {
    float:left;
    width:180px;
    margin:7px 7px 2px 0;
    font-size:85%;
    }

#pgallery3 .endframe .tab.share li a {
    display:block;
    height:16px;
    padding-left:21px;
    background:url(../imgs/sp-iconsShare2.png) no-repeat 0 0;
    }

#pgallery3 .endframe .tab.share li.digg a {
    padding-left:22px;
    background-position:0 -103px;
    }

#pgallery3 .endframe .tab.share li.mysp a {
    padding-left:22px;
    background-position:-1px -127px;
    }

#pgallery3 .endframe .tab.share li.fb a {
    padding-left:22px;
    background-position:0 -153px;
    }

#pgallery3 .endframe .tab.share li.deli a {
    padding-left:22px;
    background-position:0 -177px;
    }

#pgallery3 .endframe .tab.share p#copylink {
    display:table;
    margin:21px auto;
    }

#pgallery3 .endframe .tab.share p#copylink .lgbtn {
    margin:0;
    display:none;
    }

#pgallery3 .endframe .tab.share center {
    text-align:center;
    }

#pgallery3 .endframe .tab.share center p#copylink {
    display:inline;
    }

#pgallery3 .endframe .tab.email .loading {
    display:none;
    height:120px;
    margin-top:110px;
    }

#pgallery3 .endframe .tab.email .loading p, #pgallery3 .endframe .tab.email .success p {
    margin:7px 0;
    text-align:center;
    }

#pgallery3 .endframe .tab.email .loading p img {
    width:30px;
    height:30px;
    display:inline;
    }

#pgallery3 .endframe .tab.email .success {
    display:none;
    margin-top:110px;
    }

#pgallery3 .endframe .tab.email p.form-submit {
    display:table;
    margin:21px auto;
    }

#pgallery3 .endframe .tab.email p.form-submit .button {
    margin-right:4px;
    }

#pgallery3 .endframe .tab.email p.form-submit .cancel {
    position:relative;
    *top:-6px;
    font-size:85%;
    }

#pgallery3 .endframe .tab.shop {
    font-size:85%;
    height:361px;
    margin-top:14px;
    overflow:auto;
    }

#pgallery3 .endframe .tab.shop li {
    float:left;
    width:261px;
    margin:7px 10px 28px 0;
    }

#pgallery3 .endframe .tab.shop img {
    float:left;
    width:92px;
    height:69px;
    border:1px solid #d4d4d4;
    padding:1px;
    margin-right:7px;
    background-color:transparent;
    }

#pgallery3 .endframe .tab.shop h4 {
    font-size:118%;
    font-weight:bold;
    }

#pgallery3 .photowrap .interwrap {
    position:absolute;
    top:0;
    z-index:103;
    width:602px;
    height:440px;
    padding-top:12px;
    text-align:center;
    background-color:#151515;
    }

#pgallery3 .photowrap .interwrap h6 {
    font-size:77%;
    margin-bottom:4px;
    color:#999;
    text-align:center;
    }

#pgallery3 .photowrap .interwrap .close {
    display:block;
    position:absolute;
    top:5px;
    right:0;
    margin-right:7px;
    text-align:right;
    color:#fff;
    }

#pgallery3 .photowrap .interwrap .close span {
    display:block;
    float:right;
    width:18px;
    height:18px;
    margin:2px 0 0 7px;
    background:url(../imgs/ui.png) no-repeat scroll -285px -494px;
    }

#pgallery3 .photowrap .interwrap .close:hover span {
    background-position:-321px -494px;
    }

#pgallery3 .photowrap .interwrap .close:active span {
    background-position:-357px -494px;
    }

#pgallery3 .photowrap .interwrap img {
    display:block;
    width:585px, height:400px;
    margin-left:9px;
    }

#pgallery3 .photowrap .interwrap #interad {
    width:585px, height:400px;
    margin:0 auto;
    }

/* asset pods in center content well: */
.article-detail #results h2 {
    margin:14px 0;
    font-size:123%;
    color:#3d3d3d;
    }

.article-detail #results .meta {
    position:static;
    float:right;
    margin:0 0 0 7px;
    }

.article-detail #results .meta a.callout {
    margin-bottom:0;
    }

.article-detail #results .detail ul {
    margin-right:7px;
    }

.article-detail #results h3 {
    border:none;
    color:#666;
    float:left;
    width:100%;
    line-height:1.692em;
    margin-bottom:0;
    margin-top:-3px;
    padding-bottom:0;
    font-weight:normal;
    }

.article-detail #results h3 a {
    font-weight:normal;
    }

.article-detail #hg-we .modbox {
    border:1px solid #d9d9d9;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:7px;
    margin-bottom:14px;
    }

.article-detail #hg-we .modbox .bd {
    max-height:296px;
    overflow:auto;
    }

* html .article-detail .hg-we .modbox .bd {
    height:expression( this.scrollHeight > 296 ? "296px" : "auto" );
    }

.article-detail #hg-we .modbox ul {
    margin:7px 7px 0;
    }

.article-detail #hg-we .modbox li {
    margin-bottom:14px;
    border-bottom:1px dotted #ddd;
    }

.article-detail #hg-we .modbox li.last {
    margin-bottom:0;
    border-bottom:none;
    }

.article-detail #results p {
    margin:2px 0;
    clear:left;
    }

#pgallery3 button.button {
    height:29px;
    background:url(../imgs/ui.png) left 0;
    text-align:center;
    margin:0 auto;
    color:#b50938;
    font-size:108%;
    font-family:"trebuchet ms", sans-serif;
    text-transform:uppercase;
    border:0;
    padding:0 0 0 2px;
    cursor:pointer;
    *width:auto;
    *overflow:visible;
    white-space:nowrap;
    }

#pgallery3 button.button span {
    display:block;
    height:15px;
    padding:7px;
    font:bold 92% "Trebuchet MS", Verdana, sans-serif;
    color:#fff;
    background:url(../imgs/ui.png) right 0;
    }

#pgallery3 button.button:hover {
    background-position:left -29px;
    text-decoration:none;
    outline:none;
    }

#pgallery3 button.button:hover span {
    background-position:right -29px;
    }

#pgallery3 button.button:active {
    background-position:left -58px;
    outline:none;
    }

#pgallery3 button.button:active span {
    background-position:right -58px;
    outline:none;
    }

#pgallery3 button.button::-moz-focus-inner {
    padding:0;
    border:0;
    }

#pgallery3 button.button.disabled {
    background-position:left -116px;
    }

#pgallery3 button.button.disabled span {
    background-position:right -116px;
    }

.article-detail #hg-we .related li {
    padding-left:12px;
    background:url(../imgs/bullet_pink.png) 3px 9px no-repeat;
    }

/* Photos Section */
.static-lead-one img,
.static-lead-left img {
    float:right;
    margin:0 0 0 14px;
    }

.static-lead-left h2, .static-lead-one h2 {
    padding:7px 0;
    }

.static-lead-one h3,
.static-lead-left h3,
.static-lead-one p.description,
.static-lead-left p.description,
.static-lead-one ul.list,
.static-lead-left ul.list {
    margin:0 14px 8px 0;
    padding:0;
    }

.static-lead-left h3 {
    padding-top:7px;
    }

.static-lead-one h3,
.static-lead-left h3,
.static-lead-one p.description {
    margin-bottom:0;
    }

.static-lead-one > a,
.static-lead-left > a {
    margin-bottom:8px;
    }

.static-lead-one ul li {
    background:url("http://hgtv.sndimg.com/webhgtv/hg20/imgs/bullet-red.png") no-repeat scroll left 7px transparent;
    font-family:arial;
    font-size:13px;
    line-height:18px;
    list-style:none outside none;
    margin-bottom:4px;
    padding-left:11px;
    text-align:left;
    }

.static-lead-one h3, .static-lead-left h3 {
    margin-top:5px
    }
