

#site-wrapper .article-gallery .photo-gallery4 img,
#site-wrapper .article-gallery .guide img,
#site-wrapper .article-gallery .featured img,
#site-wrapper .recommend img,
#site-wrapper .recommend-bottom img { border: 0; padding: 0; }
#site-wrapper .article-gallery .photo-gallery4 img { background-color: transparent; }
#site-wrapper .article-gallery .crsl-feature li ul li img { border: none; padding: 0 0 2px 0; }
#site-wrapper .article-gallery #toolbar { z-index: 3; }

/* tent-pole */
.article-gallery .tent-pole-container { border-bottom:1px solid #DAE7E3; }

#diy-bd-wrap.diy-wide-cap #bd-wrapper {padding-top:4px;}
.diy-wide-lead {
    background-color: #FFF;
    _height: 117px;
    min-height: 117px;
    padding: 0;
}

.article-gallery .hub {
    margin-left: 14px;
    margin-top: 14px;
}

#diy-bd-wrap.diy-wide-cap .breadcrumb, #diy-w .breadcrumb {
    margin: 0 0 14px;
    border-bottom: 1px solid #DAE7E3;
    padding: 9px 14px 7px;
    font-size: 11px;
    color: #444;
}
#diy-bd-wrap.diy-wide-cap .breadcrumb {
    padding-top: 5px;
    padding-bottom: 8px;
}
#diy-w .breadcrumb {
    margin-bottom: 12px;
}

.breadcrumb span {
    padding: 0 3px;
    color: #aebfb7;
}


.diy-wide-lead h1 {
    margin-left: 0;
}



#diy-bd-wrap.diy-wide-cap #diy-w {
    margin-top: 0;
    padding-top: 12px;
}
* html #diy-bd-wrap.diy-wide-cap #diy-w {
    margin-top: 14px;
}

#diy-w .intro { padding-bottom: 0; }
#diy-w .content { clear: both; }
#diy-w .content .content { clear: none; }
#diy-w .content > .content {clear:both;}
#diy-w .content h2 { color: #671104; }

.article-gallery #art-image { float: left; }
div.intro { padding: 0; }

#diy-bd-wrap.diy-wide-cap div.intro p { margin-bottom: 4px; }

.article-gallery div.intro h1 { margin-bottom:  13px; font-size: 24px; color: #444; }

.article-gallery div.intro p {
    line-height: 18px;
    margin-bottom: 7px;
}

/* by line, morefrom, tags */
.article-info {
    font-size: 11px;
    margin-left: 14px;
    line-height: 22px;
}
.article-info li {
    padding: 0;
    margin: 0 4px 0 0;
}
.article-info .more {
    position: relative;
    z-index: 105;
    display: inline;
    padding-left: 10px;
}
.article-info .more .more-trigger {
    background: url("../img/more-down-arrow-off.png") no-repeat right 5px transparent;
    padding-right: 10px;
}
.article-info .on a.more-trigger {
    background: url("../img/more-down-arrow.png") no-repeat right 5px transparent;
}
.article-info .more-tags {
    display: none;
    position: absolute;
    width: 166px;
}

.article-info .more-tags .hd {
    background: url("../img/pg-thumbnail-popup.png") no-repeat scroll -3142px 0 transparent;
    height: 9px;
}
.article-info .more-tags .bd {
    background: url("../img/pg-thumbnail-popup.png") repeat-y scroll -3312px 0 transparent;
    padding: 7px 14px 6px 14px;
}
.article-info .more-tags .ft {
    background:url("../img/pg-thumbnail-popup.png") no-repeat scroll -3482px 0 transparent;
    height:10px;
}
.article-info .more-tags .bd ul {
    max-height: 200px;
    _height: 200px;
    overflow: auto;
}
.article-info .more-tags .bd ul li {
    background: url("../img/bullet-red.png") no-repeat left 8px;
    list-style-position: outside;
    padding-left: 9px;
    margin-left: 8px;
}

.article-gallery #diy-e #dp-product-crsl ul {
    height: 233px;;
}
.guide {
    float: left;
    width: 186px;
    padding-left: 14px;
    padding-bottom:14px;
}
.guide h2, .featured h2 {
    margin-bottom: 11px;
    margin-top: -12px;
	font-size: 17px;
	font-weight: bold;
}
.guide-logo {
    margin-bottom: 10px;
}
#diy-w .guide .guide-logo a img {
    width: 186px;
    vertical-align: bottom;
    padding: 0;
    border: none;
}
ul.ideas li {
    border-bottom: 1px solid #DAE7E3;
    padding: 0 0 6px 0;
    line-height: 18px;
    margin-bottom: 6px;
}
ul.ideas li.last {
    border-bottom: none;
    padding-bottom: 0;
}
.guide span.more {
    font-size: 11px;
    line-height: normal;
    margin-top: 8px;
    display: block;
}
div.featured {float:left; width:402px; padding-left:14px;}
.featured .bd {padding-top:7px;}
* html .featured .bd {padding-right: 0px;}
.featured span.content-count {display:inline;}
.article .featured .related-link-wrap {margin:0;}
.featured ul li {padding:0 0 14px 0;}
.featured ul li img { margin: 0 auto; } /* recommitted */
.featured-info {line-height:18px; overflow: auto; }
.featured-info h3 {line-height:18px;}
#diy-w .featured .featured-info h3 {font-weight:bold;}
.featured h3 { margin-bottom:4px; }
.featured p {line-height:18px; margin-bottom:5px;}
.featured .more-hidden {display:none;}
.featured .load-more {border: 1px solid #DAE7E3;border-radius: 4px 4px 4px 4px;display: block;font-size: 13px;font-weight: bold;margin-top: 5px;padding: 12px 0;text-align: center;width: 100%;}
.featured .downArrow {background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll 8px -1909px transparent;
    left: 179px;
    height: 14px;
    width: 31px;
    position: relative;
    bottom: 19px;
}
.featured-article .featured-thumb, .featured-video .featured-thumb, .featured-portfolio .featured-thumb, .featured-gallery .featured-thumb {
    border:2px solid black;
    height:69px;
    margin-right:14px;
    float:left;
    overflow: hidden;
}
.featured-article .author {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 3px;
}
.featured-thumb {
    cursor: pointer;
}

.featured .related-link-wrap .article
.featured li.featured-video h3 {
    float: left;
    line-height: normal;
    padding-right: 10px;
}

.no-guide .guide,
.no-guide-featured .guide,
.no-guide-featured .featured {
    display: none;
}
.no-guide-featured .recommend {
    float: none;
}
.featured-video .featured-thumb, .featured ul, .featured .hd, .featured .ft  {
    position: relative;
}

.recommend .video-thumb .play-button,
.recommend-sub .video-thumb .play-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 76px;
    width: 105px;
    background: url(../img/vid-thumb-overlay.png) no-repeat center center;
    cursor: pointer;
}

.featured-video .featured-thumb .play-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 88px;
    width: 118px;
    padding: 2px;
    background: url(../img/vid-thumb-overlay.png) no-repeat center center;
    cursor: pointer;
}

.no-guide .featured {
    float: none;
    width: 602px;
}
.no-guide .featured .bd {
    width: 600px;
}
.no-guide .featured .hd {
    background: url("../img/featured-full-tcap.png") no-repeat scroll transparent;
}
.no-guide .featured .ft {
    background: url("../img/featured-full-bcap.png") no-repeat scroll 0 -3px transparent;
}
.no-guide .featured .related-link-wrap {
    width: 587px;
}
.no-guide .featured-info {
    width: 433px;
}

#diy-w .recommend-top {
    margin-top: 11px;
}
#diy-w .recommend-top h2 {
    margin-bottom: 11px;
}
#diy-w .recommend-lead {
    margin-bottom: 7px;
    margin-bottom: 20px \9;
}
.recommend {
    padding: 14px 14px 15px 14px;
    line-height: normal;
    text-align: left;
    float: left;
}
* html .recommend {
    padding-right: 0;
}
.recommend h2 {
    margin-bottom: 8px
}
.content .recommend-bottom h2 {
    margin-bottom: 6px
}
.recommend h3 {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 7px;
}

.recommend h4 {
    font-weight: bold;
    line-height: 18px;
}

.recommend p {
    line-height: 18px;
    margin-bottom: 7px;
}

span.content-count {
    color: #999999;
    display: block;
    font-size: 11px;
}

.recommend .thumb,
.recommend .video-thumb,
.recommend .gallery-thumb {
    background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll 0 0 transparent;
    float: left;
}
.recommend-lead {
    margin-bottom: 6px;
}
.recommend-lead {
    margin-bottom: 20px \9;
}
.recommend-lead .thumb,
.recommend-lead .video-thumb,
.recommend-lead .gallery-thumb  {
    background-position:  0 -157px;
    height: 129px;
    width: 169px;
    margin: 0 14px 14px 0;
}
.recommend-lead .video-thumb {
    position: relative;
}
.recommend-lead .video-thumb .play-button {
    height: 129px;
    width: 169px;
}
.recommend-lead .thumb {
    background-position:  0 -808px;
}
.recommend-lead .thumb a {
    display: block;
    padding: 3px 0 0 3px;
}
.recommend-lead .video-thumb a,
.recommend-lead .gallery-thumb a {
    display: block;
    padding: 3px 0 0 6px;
}
.recommend-sub {
    float: left;
    width: 287px;
    padding-right: 14px;
    padding-bottom: 14px;
}
.recommend-sub .thumb,
.recommend-sub .video-thumb,
.recommend-sub .gallery-thumb {
    background-position: 0 -79px;
    height: 75px;
    margin: 0 14px 0 0;
    padding: 3px 0 0 6px;
    width: 95px;
}

.recommend-sub .thumb {
    background-position: 3px 1px;
    height: 72px;
    margin: 0 14px 0 0;
    padding: 4px 0 0 6px;
    width: 95px;
}
.recommend-sub .video-thumb {
    position: relative;
}
.recommend span.content-count {
    margin-top: 7px;
}

#diy-w .recommend .right-sub {
    padding-right: 0;
    padding-left: 14px;
}
.recommend-sub .content {padding-top: 4px; float:left; width:172px;}
.recommend-bottom {padding-top: 0;}
.recommend-bottom.recommend {clear:both; display:block; float:none;}
.recommend-bottom ul.list, .recommend-bottom div {width:287px; float:left;}
.recommend-bottom div.recommend-right {margin-left: 28px;}
.recommend-bottom ul.list li {background: url("../img/bullet-red.png") no-repeat scroll left 8px transparent; color: #EE0070; padding-left: 9px; list-style: none outside none; line-height:1.62; margin-bottom: 4px;}
.recommend-bottom ul li span.content-count {display:inline; white-space:nowrap;}

* html .recommend-bottom ol {
    width: 280px;
    position: relative;
}

/* photo gallery */
.photo-gallery4{background:none repeat scroll 0 0 #594D4F;color:#F7f7f7;margin:0 0 14px 4px;padding:0;position:relative;z-index:2;font-family: "Arial",sans-serif; width:987px;}
.photo-gallery4 h2, .photo-gallery4 p{color: #F7F7F7;}
.photo-gallery4 a:visited{color: #63A0BA;}
.photo-gallery4 a:hover{color: #fff;}
.pg-navigation{background:0 repeat scroll 0 0 #3B3B3B;clear:both;padding:23px 24px;position:relative;}
.photo-gallery4 .pg-navigation{background-color: #242424;padding:22px 24px;}
.pg-photo-count{line-height:1;text-align:center;font-size:11px;}
.photo-gallery4 .pg-photo-count{display:none;}
.pg-photo-count p{color: #999;}
.pg-navigation a{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll right 0 #3B3B3B;cursor:pointer;display:block;height:30px;margin-top: -14px;position:absolute;text-align:left;top:50%;}
.photo-gallery4 .pg-navigation a{background-color: #303030;margin-top: -9px;}
.pg-navigation a, .pg-navigation a:hover, .pg-navigation a:active, .pg-navigation a:link, .pg-navigation a:visited{color: #F7F7F7;text-decoration:none;}
.pg-navigation a span{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll left 0 transparent;display:inline-block;*display: inline;*zoom: 1;font-family: "Arial",sans-serif;font-size:12px;font-weight:bold;line-height:30px;}
.pg-navigation .pg-previous{background-position:right -60px;padding-right:21px;left:14px;}
.pg-navigation .pg-previous span{background-position:0 -60px;padding-left:38px;}
.pg-navigation a.pg-previous:hover{background-position:0 -180px;}
.pg-navigation a.pg-previous:hover span{background-position:left -180px;}
html>/**/body .pg-navigation a.pg-previous:active{background-position:right -301px;color:#444;}
html>/**/body .pg-navigation a.pg-previous:active span{background-position:left -301px;color:#444;}
.pg-navigation .pg-next{background-position:right -30px;padding-right:38px;margin-right:14px;right:0;}
.photo-gallery4 .pg-navigation .pg-next {right:342px;}
.pg-navigation .pg-next span{background-position:left -30px;padding-left:21px;}
.pg-navigation a.pg-next:hover{background-position:right -150px;}
.pg-navigation a.pg-next:hover span{background-position:left -150px;}
.pg-navigation .pg-disabled, .pg-navigation a.pg-disabled:hover, .pg-navigation a.pg-disabled:active, .pg-navigation .pg-disabled span, .pg-navigation a.pg-disabled:hover span, .pg-navigation a.pg-disabled:active span,.loading .pg-navigation .pg-previous, .loading .pg-navigation a.pg-previous:hover, .loading .pg-navigation a.pg-previous:active,.loading .pg-navigation .pg-previous span, .loading .pg-navigation a.pg-previous:hover span, .loading .pg-navigation a.pg-previous:active span{background-position:left -419px;color: #666;cursor:default;}
.pg-navigation a.pg-next.pg-disabled, .pg-navigation a.pg-next.pg-disabled:active, .pg-navigation a.pg-next.pg-disabled:hover {background-position:right -390px;}
.pg-navigation a.pg-next.pg-disabled span, .pg-navigation a.pg-next.pg-disabled:active span, .pg-navigation a.pg-next.pg-disabled:hover span {background-position:left -390px;}

body .pg-navigation a.pg-previous.pg-disabled:active{background-position:right -419px;}
body .pg-navigation a.pg-previous.pg-disabled:active span{background-position:left -419px;}
.pg-navigation .pg-disabled, .pg-navigation a.pg-disabled:hover, .pg-navigation a.pg-disabled:active, .pg-navigation .pg-disabled span, .pg-navigation a.pg-disabled:hover span, .pg-navigation a.pg-disabled:active span{color:#666; cursor:default;} .loading .pg-navigation .pg-next, .loading .pg-navigation a.pg-next:hover, .loading .pg-navigation a.pg-next:active,.loading .pg-navigation .pg-next span, .loading .pg-navigation a.pg-next:hover span, .loading .pg-navigation a.pg-next:active span{background-position:right -390px; color:#666; cursor:default;}
.loading .pg-navigation .pg-next span, .loading .pg-navigation a.pg-next:hover span, .loading .pg-navigation a.pg-next:active span {background-position:left -390px;}
html>/**/body .pg-navigation a.pg-next:active{background-position:right -270px;color: #444;}
html>/**/body .pg-navigation a.pg-next:active span{background-position:left -270px;color: #444;}
.loading .pg-photo-display-wrapper, .loading .view-all-products, .loading p.pg-author, .loading h2, .loading p.desc, .loading .pg-you-might-like{visibility:hidden;}
.loading #social-toolbar{display:none;}
.pg-navigation .selected.pg-thumbnails-button{background-position:right -331px;color: #444;}
.pg-navigation .selected.pg-thumbnails-button span{background-position:left -331px;color: #444;}
.pg-navigation .pg-thumbnails-button{position:absolute; left:257px; top:50%; background-position:right -90px; padding-right:14px;}
.interstitial-show .pg-navigation .pg-thumbnails-button{visibility:hidden;}
.pg-navigation .pg-thumbnails-button span{background-position:left -90px;padding-left:39px;width:102px;text-align: center;}
.pg-navigation a.pg-thumbnails-button:hover{background-position:right -210px;color:white;}
.pg-navigation a.pg-thumbnails-button:hover span{background-position:left -210px;color:white;}
.pg-navigation a.pg-thumbnails-button:active{background-position:right -331px;}
.pg-navigation a.pg-thumbnails-button:active span{background-position:left -331px;}
.loading .pg-navigation .pg-thumbnails-button, .loading .pg-navigation a.pg-thumbnails-button:hover, .loading .pg-navigation a.pg-thumbnails-button:active, .loading .pg-navigation .pg-thumbnails-button span, .loading .pg-navigation a.pg-thumbnails-button:hover span, .loading .pg-navigation a.pg-thumbnails-button:active span{display:none;}
.pg-endframe-products li.hs-product .pg-endframe-product-img{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:75px;width:98px;padding-top:1px;}
.pg-endframe .pg-endframe-products { margin: 22px 0 0 5px;}
.pg-viewport{padding:14px;background-color: #242424;z-index:1;min-height:612px;}
.pg-viewport .pg-photo-display{width:616px;float:left;position:relative;}
.photo-gallery4 .pg-photo-display{color:#fff;}
.photo-gallery4 .pg-photo-display h2{line-height:22px;margin:0 0 4px;font-size:18px;}
.photo-gallery4 .pg-photo-display p{line-height:22px;}
.pg-photo-display-wrapper .pg-photo-wrapper{overflow:hidden;padding-bottom:10px;min-height:;}
.pg-viewport .pg-photo-display-wrapper{width:616px;min-height:452px;background-color: #242424;text-align:center;position:relative;overflow:hidden;position:relative;z-index:1;}
.pg-photo-display-wrapper #pg-next-title, .pg-photo-wrapper #pg-next-title{position:absolute;right:-330px;*right:-334px;top:24px;width:300px;z-index:10000;-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.14);-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.14);box-shadow:1px 1px 2px rgba(0, 0, 0, 0.14);padding:14px;background:#fff;cursor:pointer;}
.pg-photo-display-wrapper #pg-next-title span{display:block;height:auto;background:0 repeat scroll 0 0 #fff;text-align:left;color: #63A0BA;font:bold 11px Arial;}
.pg-photo-display-wrapper #pg-next-title b{color: #999;text-transform:uppercase;display:block;margin-bottom:10px;line-height:8px;}
.interstitial-show .pg-photo-wrapper, .interstitial-show .pg-endframe, .interstitial-show .view-all-products, .interstitial-show p.pg-author, .interstitial-show p.pg-author, .interstitial-show p.desc, .interstitial-show h2, .interstitial-show .pg-you-might-like, .interstitial-show #social-toolbar{display:none !important;}
.pg-photo-display .pg-fitted .photo img{width:339px;}
.pg-photo-display .pg-fitted{width:339px;position:relative;margin:0 auto;}
.pg-photo-wrapper .pg-toggler{position:absolute;right:0;top:0;text-decoration:none;color: #F2F2F2;font-size:1.1em;display:none;}
.pg-fitted .pg-toggler{display:block;}
.pg-toggler .pg-toggler-label{background-color:black;display:none;cursor:pointer;float:right;height:22px;padding-top:2px;width:98px;text-align:center;font-family:Arial;font-weight:bold;font-size:11px;}
.pg-toggler-button{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat black scroll 5px -1466px;display:block;float:right;height:24px;text-indent: -999em;width:24px;cursor:pointer;}
.pg-photo-wrapper .pg-shrink{display:none;}
.pg-shrink .pg-toggler-label{background-position: -478px -89px;height:21px;width:96px;}
.pg-shrink .pg-toggler-button{background-position:5px -1519px;height:23px;}
.pg-hide-hotspots .pg-hotspot{display:none;}
.pg-hotspot{display:block;position:absolute;height:25px;width:25px;cursor:pointer;}
.pg-hotspot .pg-icon{display:block;height:25px;width:25px;background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll transparent -1px -1337px;cursor:pointer;}
.pg-hotspot .pg-icon:hover{background-position: -1px -1404px;}
.pg-hotspot:hover .pg-tooltip{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;overflow:visible;height:auto;}
.pg-hotspot .pg-tooltip{-moz-transition:opacity 250ms ease-out;-o-transition:opacity 250ms ease-out;-ms-transition:opacity 250ms ease-out;transition:opacity 250ms ease-out;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;height:0;overflow:hidden;bottom:20px;left: -65px;position:absolute;z-index:2;}
.pg-hotspot .pg-tooltip p{line-height:16px;padding:0 6px;}
.pg-hotspot .pg-hotspot-top{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") repeat scroll -0px -2060px transparent;height:7px;}
.pg-hotspot .pg-hotspot-middle{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") repeat scroll -0px -1963px transparent;height:auto;}
.pg-hotspot .pg-hotspot-bottom{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") repeat scroll -0px -2067px transparent;height:21px;}
.pg-hotspot .pg-tooltip, .pg-hotspot .pg-hotspot-top, .pg-hotspot .pg-hotspot-middle, .pg-hotspot .pg-hotspot-bottom{width:154px;}
.pg-hotspot-name{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll -169px -254px transparent;display:none;font-size:0.9em;height:28px;left: -65px;line-height:normal;padding:5px 7px;position:absolute;top: -42px;width:150px;font-family:Arial;font-size:11px;color:#fff;}
.pg-hotspot-panel{display:none;position:relative; height:466px;}
.pg-hotspot-panel .l, .pg-hotspot-panel .r{text-align:left; position:absolute;}
.pg-hotspot-panel .l {top:0px;left:0px; border: 1px 0px 1px 0px #333 solid; z-index:2;}
.pg-hotspot-panel .r {top:0px;right:0px; height:426px; border-left: 1px solid #444; padding:20px 21px;text-align:left;width:305px;}
.pg-hotspot-panel .l{width:263px;height:464px;}
.pg-hotspot-panel .l h3{font-family:Arial, sans-serif;text-align:left;font-size:15px;font-weight:bold;padding:7px 0 7px 21px;}
.pg-close-hspanel{margin:21px 21px 12px;text-align:center;width:160px;}
.pg-close-hspanel span{display:block;color: #005EA7;cursor:pointer;font-size:11px;text-align:left;font-weight:bold;font-family:arial;margin:7px 0 0;}
.pg-close-hspanel img{cursor:pointer;width:160px;height:120px;}
.photo-gallery4 .pg-navigation div.hd a { background: url(../imgs/se/diy-photo-sprite.png) no-repeat scroll -1px -1158px transparent; cursor: pointer; display: block; height: 22px; position: absolute; right:8px; top:16px; width:22px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); opacity:.70;}
.photo-gallery4 .pg-navigation div.hd a:hover{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity:1;}
.pg-close-btn{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll -1px -1158px transparent;cursor:pointer;display:block;height:21px;position:absolute;right:16px;top:12px;width:21px;filter:alpha(opacity=70);opacity:.70;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
.pg-close-btn:hover{filter:alpha(opacity=100);opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.pg-thumbnails-frame .pg-close-btn{right:7px;top:7px;}
.pg-hotspot-list li{padding:5px 0 5px 21px;text-align:left;cursor:pointer;color: #63A0BA;font-family:arial;}
.pg-hotspot-list li:hover {color: #F7F7F7;}
.pg-hotspot-list li.selected{color: #F7F7F7;}
.pg-hotspot-list li.selected, .pg-hotspot-panel .r{background-color: #363636;}

.pg-hsproducts h4{font-size:14px;line-height:18px;font-weight:bold;font-family:arial;padding-right:20px;}
.pg-hsproducts h4 a{font-weight:bold;}
.pg-hsproducts li{display:none;}
.pg-hsproducts li img{width:266px;}
.pg-hsproducts li p{padding-left:4px;font-family:arial;line-height:22px;margin:7px 0 14px;}
.pg-hsproduct-img{text-align:center;padding:14px 0 7px;}
.pg-hsproducts li img{width:266px;height:200px;margin:0 auto;display:block;}
.pg-endframe .product-detail-container .more.btn:hover,a.pg-hsproduct-moreinfo:hover{background-position:right -120px;text-decoration:none;color: #FFF;}
.pg-endframe .product-detail-container .more.btn:hover span, a.pg-hsproduct-moreinfo:hover span{background-position:left -120px;}
.pg-endframe .product-detail-container .more.btn:active, .pg-hsproducts a.pg-hsproduct-moreinfo:active{background-position:right -240px;text-decoration:none;color: #FFF;}
.pg-endframe .product-detail-container .more.btn:active span, .pg-hsproducts a.pg-hsproduct-moreinfo:active span{background-position:left -240px;}
.pg-photo-wrapper a{display:block;}
.pg-endframe{position:absolute;width:100%;top:0;left: -1px;z-index:1;background-color: #363636;border:1px solid #404040;box-shadow:0 0 2px #000;backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;}
.pg-hotspot-panel{margin:2px;width:610px;border:1px solid #444;box-shadow:0 0 3px 0px #000;backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;}
.pg-endframe-products li{float:left;height:76px;margin-left:14px;padding:1px 0 13px 0;width:270px;}
.pg-endframe-products li.hs-product .pg-endframe-product-img{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll 0 0 transparent;}
.pg-endframe-product-img{float:left;}
.pg-endframe-product-img img{width:92px;height:69px;}
.pg-endframe-products li a{color: #63A0BA;font-family:arial;}
.pg-endframe-products li p{float:left;font-size:14px;line-height:18px;padding:0 0 0 14px;text-align:left;width:144px;}
.pg-endframe-products li.even p{width:154px;}

.pg-share li { padding: 0 0 5px 0; }
.pg-share li a { display: block; padding: 5px 0 0 0; float: left; }

.pg-share li.facebook { padding-bottom: 15px; }
.pg-share li.twitter { padding-bottom: 8px; }
.pg-share li span { background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll -478px 0 transparent; display: block; float: left; margin: -6px 5px 0 0; height: 32px; width: 32px; }
.pg-share li.twitter span { background-position: -510px 0px; }

.pg-share li.link-to p{ padding-bottom: 1px; }

.pg-copy-link-text .text-box  { width:340px; }
.pg-copy-link-text .text-box span { background:url("../img/ui.png") no-repeat scroll left -293px transparent; width: 340px; height: 30px; margin-top: 0; }
.pg-copy-link-text .pg-copy-link-btn { float: left; }

.pg-copy-link-btn { background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll right -286px transparent; padding-right: 5px; line-height: 25px; }
.pg-copy-link-btn button { background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll left -286px #1C1C1C; padding-left: 10px; border: none; height: 29px; }

.pg-thumbnail img,
.pg-photo-wrapper img,
.pg-viewport img,
.pg-photo-hsproduct-wrapper img { vertical-align: bottom; }
.pg-photo-description,
.pg-endframe-info,
.pg-you-might-like { float: left;  width: 350px; }

.photo-gallery4.loading .pg-photo-description,
.photo-gallery4.loading .pg-you-might-like,
.photo-gallery4.loading p.pg-author { visibility: hidden; }

.photo-gallery4 .pg-photo-description,
.photo-gallery4 .pg-endframe-info,
.photo-gallery4 .pg-you-might-like { margin-top: 7px; width: 616px; }
.photo-gallery4 .pg-you-might-like {padding-bottom: 8px; float:none;}
.pg-viewport .ad-unit{float:left;width:auto;text-align:center;padding-bottom:8px;margin-left:32px;margin-top:-20px;}
.pg-viewport a, .pg-you-might-like a { color: #63A0BA; }
.pg-you-might-like a:hover { color: #fff; }
.pg-photo-wrapper > a.photo { margin: 0 auto; display: block; }
.pg-photo-wrapper.pg-fitted > a.photo { margin: 0 auto; display: block; }
.pg-photo-wrapper > a.photo > img { width: 616px; }

.pg-viewport .ad-unit-label { font-weight: normal; font-size: 11px; display: block; color:#999999; }

.photo-gallery4 .ad-unit { width: 300px; padding-right: 0; }
.photo-gallery4 .ad-unit .mrec { position: relative; top: -17px; }
.photo-gallery4 .ad-unit .mrec #bigbox { position: absolute; *position: relative; top: 17px; *top: 0; width: 100%; background-color: transparent; }
.photo-gallery4 .ad-unit .mrec span { position: absolute; *position: relative; top: 0; height: 17px; display:block; width: 100%; }

.pg-viewport .ad-unit .mrec #bigbox,
.pg-viewport .ad-unit .bigboxad #bigbox /*not sure what .mrec is for */
 { background-color: transparent; padding: 0; border: 0; }

.article-gallery .ad-unit .mrec span { display:block; }

.pg-viewport .mrec { margin: 0; }

.pg-show-caption { cursor: pointer; color: #63A0BA; }
.pg-short-caption { min-height: 120px; }
.pg-full-caption { display: none; }

.pg-you-might-like ul { margin-top: -1px; }

.pg-you-might-like h4 { font-weight: bold; font-size: 13px; color:#999; line-height: 22px; float: left; padding-right: 6px;}

.photo-gallery4 p.pg-author {padding:8px 0 15px; font-size:11px; color:#999; line-height:14px; width:382px;}

.photo-gallery4 #social-toolbar {clear:both; padding:0 0 8px; width:100%;}
.photo-gallery4 #social-toolbar li#tb-facebook {margin-right:15px;}


.photo-gallery4 #social-toolbar .sharethis,
.photo-gallery4 #social-toolbar .su { font: bold 11px/20px Arial; margin-left: 10px; color: #fff; padding-left: 22px; display: block; background-position: left center; background-repeat: no-repeat;}

.photo-gallery4 #social-toolbar .sharethis { background-image: url("../imgs/se/sharethis-icon.png"); }
.photo-gallery4 #social-toolbar .su { background-image: url("../imgs/se/stupon.png"); }

.featured .featured-info p.author {color:#999; font-size:11px; font-weight:bold;}

.loading .pg-loader, .pg-errored .pg-error { display: block; }

.pg-loader,
.pg-error { display: none; position: absolute; top: 70px; left: 14px; width: 602px; height: 453px; }

.photo-gallery4 .pg-loader,
.photo-gallery4 .pg-error { top: 58px; }

.pg-loader span{display:block;padding:3px 0 0 37px;height:29px;background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-ajax-loader.gif") no-repeat scroll transparent;color: #242424;}
.pg-loader .drop{width:150px;margin:224px 0 0 287px;}
.pg-loader .hd,
.pg-loader .bd,
.pg-loader .ft { background: url("../imgs/se/sp-popups.png") no-repeat scroll transparent; }
.pg-loader .hd { height: 13px; background-position: -6234px 0; }
.pg-loader .bd { background-position: -6388px 0; background-repeat: repeat-y; padding: 10px 20px; }
.pg-loader .ft { background-position: -6542px 0; height: 13px; }
.pg-loader .pink-button { padding: 3px 0 0 32px; height: 29px; background: url("../img/diy-loader.gif") no-repeat scroll transparent; color: #000; }

.pink-button { background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll right -315px transparent; color: #FFFFFF; padding-right: 4px; height: 29px; margin: 0 auto; width: 50px; }
.pink-button button { background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll left -315px #E9F5F9; display: block; padding: 0 0 0 4px; border: none; height: 29px; color: #FFF; }

.pg-error h4 { font-size: 1.4em; margin-bottom: 10px; }
.pg-error .drop { width: 438px; margin: 20% auto; }
.pg-error .hd, .pg-error .bd,
.pg-error .ft { background: url("../imgs/se/sp-popups.png") no-repeat scroll transparent; }
.pg-error .hd { height: 13px; background-position: -2358px 0; }
.pg-error .bd { background-position: -2801px 0; background-repeat: repeat-y; padding: 10px 20px; color: #000; }
.pg-error .ft { background-position: -3244px 0; height: 13px; }
.pg-error p { color: #000; line-height: 18px; margin-bottom: 10px; }

.interwrap { background-color: #242424; display: none;}
.interstitial-show .pg-navigation { z-index: auto; z-index: -3\9; }
.interstitial-show .interwrap { display: block; }
.interstitial-show .pg-photo-display { overflow: visible;}
.interstitial-show #pg-next-title {display:none;}
.interwrap .interad { text-align: center; }

.photo-gallery4.interstitial-show.takeover .pg-viewport {padding:14px 4px 55px;}
.photo-gallery4.interstitial-show.takeover .pg-photo-display,
.photo-gallery4.interstitial-show.takeover .ad-unit,
.photo-gallery4.interstitial-show.takeover #social-toolbar {display:none;}
.photo-gallery4.interstitial-show.takeover .interwrap .close{top:18px;left:278px;}
.photo-gallery4.interstitial-show.takeover .interwrap, 
.photo-gallery4.interstitial-show.takeover .interwrap img {height:617px;width:987px; margin-left:-2px; background:transparent;}
.photo-gallery4 .interwrap, 
.photo-gallery4 .interwrap img{width:616px;height:476px;background:#242424;}
.photo-gallery4 .interwrap .close{position:absolute;top:-39px;left:256px;color: #176684;}
#site-wrapper .interstitial-show .pg-viewport .pg-photo-display-wrapper{overflow:visible;}
#site-wrapper .article-gallery #diy-e .hd h4{color:#EF4141;font-family:"Arial",sans-serif;padding-top:13px;}
#site-wrapper .article-gallery #diy-e .hd p, #site-wrapper .article-gallery #diy-e .bd { line-height: 18px; }
#site-wrapper .article-gallery #diy-e .bd { padding-top: 6px; }
#site-wrapper a.no-flash-msg img { border: none; }
#site-wrapper .tentpole-container { padding:7px; }
#site-wrapper .diy-wide-cap .tentpole-container { padding-top: 2px; margin-bottom: 4px; }
#site-wrapper .tentpole-container img { border: 0; padding: 0; }
#site-wrapper .article-bio #diy-art-we { margin-left: 14px; }
a.no-flash-msg { display: block; width: 112px; height: 33px; margin: 0 auto; }
#diy-w .google-leaderboard { padding: 21px 14px 14px; border-top: 1px solid #DAE7E3; }

/* Misc */
#diy-art-we { padding-bottom: 4px; }
#diy-art-we p { line-height: 22px; margin-bottom: 16px; }
#diy-art-we h1,
#diy-art-we h2,
#diy-art-we h3 { color: #444; }
#diy-art-we h2 { margin-bottom: 13px; }
#diy-art-we h3 { margin-bottom: 2px; }
#diy-art-we h1 { margin-bottom: 15px; }
#diy-art-we li { list-style: outside; margin-left: 14px; }
.pagi { padding-top: 6px; margin-bottom: 22px; }

/* Recent Gallery */
.pg-photo-display #pg-recent-gallery { position: absolute; left: 10px; top: 55px; z-index: 10000; width: 350px; border: 2px solid #EEEEEE; padding: 10px; background: #FFFFFF; text-align: left; }
.pg-photo-display #pg-recent-gallery b { color: #ADADAD; text-transform: uppercase; }
.pg-photo-display #pg-recent-gallery li { list-style-type: disc; color: #ef4141; margin-left: 14px; }
.pg-photo-display #pg-recent-gallery li span { color: #444; font-weight:bold; font-size:12px; }
.pg-photo-display #pg-recent-gallery span { color: #000000; }
.pg-photo-display #pg-recent-gallery a { color: #386CB4; font-size:12px; font-weight:bold; }
.pg-photo-display #pg-recent-gallery .arrow-up{background:url("../img/header-sprite.png") no-repeat scroll 0 -1867px transparent;height:15px;position:absolute;top: -15px;left:30px;width:24px;z-index:1001;}
.view-all-products{float:right;z-index:0;width:auto;position:relative;display:none;padding-left:21px;margin:8px 14px 0 2px;cursor:pointer;background:url(http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png) no-repeat scroll transparent -0px -1219px;}
.view-all-products:hover{background-position:0 -1277px;}
a.view-all-products:hover{color: #fff;}
.pg-endframe-close-btn{background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll transparent -1px -1158px;position:absolute;top:14px;right:14px;height:21px;width:21px;text-indent: -9999px;filter:alpha(opacity=75);opacity: .75;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}
.pg-endframe-close-btn:hover{filter:alpha(opacity=100);opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.pg-endframe-products.page.page1{display:block;overflow:hidden;}
.pg-endframe-products.page{display:none;}
.pagination-container{position:absolute;right:auto;top:560px;height:40px;overflow:hidden;margin-bottom:7px;}
.pagination-container .pagination { text-align: center; }
.pagination-container .pagination > div { display: inline-block; zoom:1; *display: inline; font-family: Arial, Helvetica, sans-serif; }
.pagination-container .pagination > div > a { display: inline-block; padding: 0 9px; height: 25px; line-height: 25px; text-align: center; border: 1px solid #454545; background: #363636; margin: 0 7px 0 0; }
.pagination-container .pagination > div > a:hover { text-decoration: none; color: #242424; background: #fff; }

.pagination-container .pagination > div.next a { border: 1px solid transparent; background: none; }
.pagination-container .pagination > div.next a:hover,
.pagination-container .pagination > div.prev a:hover { background: #fff; border: 1px solid #454545; }

.pagination-container .pagination > div.prev a { border: 1px solid transparent; background: none; }
.pagination-container .pagination > div.no-more a,
.pagination-container .pagination > div.no-more:hover a { color: #666; text-decoration: none; cursor: default; background: none; border: 0; }
.pagination-container .pagination > div > a.current { color: #fff; }
.pagination-container .pagination > div > a.current:hover { color: #242424; }

/* Product Detail View */
.pg-endframe .product-detail-container { margin: 56px 20px 20px; padding-bottom: 20px; box-shadow: 0 1px 0px #424242; border-bottom: 1px solid #242424; overflow: hidden; }
.pg-endframe .product-detail-container .detail_left { float: left; width: 266px; display: block; height: 200px; }
.pg-endframe .product-detail-container .detail_left img { width: 100%; height: 200px; }
.pg-endframe .product-detail-container .detail_right { float: left; width: 275px; margin-left: 20px; display: block; }
.pg-endframe .product-detail-container .detail_right .description { font-family: arial; font-size: 13px; line-height: 21px; color: #E5E5E5; }
.pg-endframe .product-detail-container a.title { font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 24px; margin-bottom: 7px; }
.pg-endframe .product-detail-container a, .product-detail-container p { text-align: left; display: block; }
.pg-endframe .product-detail-container a:hover { text-decoration: none; color: #fff; }
.pg-endframe .product-detail-container .more.btn,
.pg-hsproduct-moreinfo { font-weight: bold; background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll right -0px transparent; float: left; padding-right: 9px; margin-top: 7px; display: block; margin-left: 3px; font-size: 13px; }
.pg-endframe .product-detail-container .more.btn span,
.pg-hsproduct-moreinfo span { background: url("../imgs/se/diy-photo-sprite.png") no-repeat scroll left -0px #2C2C2C; color: #FFFFFF; display: block; height: 27px; padding-left: 6px; padding-top: 3px; text-decoration: none; }

.pg-viewport .pg-photo-display-wrapper .pg-endframe .product-detail-container { text-align: left; }

/* Product Detail Pagination View */
/*these icon rules could be nixed, after SE-5488 is launched 
.pg-endframe .product-pagination-container a .icon { background-image: url(../imgs/se/diy-photo-sprite.png); height: 7px; width: 14px; position: absolute; top: 5px; }
.pg-endframe .product-pagination-container a.detail_previous .icon { background-position: 0 -1721px; left: -20px; }
.pg-endframe .product-pagination-container a.detail_previous.disabled .icon { background-position: 0 -1768px; }
.pg-endframe .product-pagination-container a.detail_next .icon { background-position: -1px -1574px; right: -20px; }
.pg-endframe .product-pagination-container a.detail_next.disabled .icon { background-position: -1px -1622px; }
*/

.pg-endframe .product-pagination-container a { font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 0 10px; position: relative; font-weight: bold; padding: 5px; height: 30px; border: 1px solid #363636;}
.pg-endframe .product-pagination-container a:hover { background-color: #ffffff; color:#333; text-decoration: none; }

.pg-endframe .product-pagination-container a.disabled { color: #666; cursor: default; background-color: #363636;}
.pg-endframe .back-to-all-products { border-right: 1px solid #242424; box-shadow: 1px 0 0 #424242; font-family: Arial, Helvetica, sans-serif; font-size: 11px; height: 22px; line-height: 22px; padding-right: 10px; position: absolute; right: 45px; top: 14px; font-weight: bold; }

/* Font Fixes */
.pg-photo-display p, .pg-you-might-like, .view-all-products, p.pg-author { font-family: Arial, sans-serif; }

/* View all Products */
.pg-photo-display-wrapper { overflow: hidden; }
.pg-photo-display-wrapper.showing-product-panel { overflow: visible; }
.pg-photo-display-wrapper.showing-product-panel .pg-photo-wrapper,
#social-toolbar.showing-product-panel,
.pg-photo-display-wrapper.showing-product-panel #pg-next-title { display: none!important; }
#diy-bd .pg-photo-display-wrapper.showing-product-panel .pg-endframe-product-img,
#diy-bd .pg-photo-display-wrapper.showing-product-panel .pg-endframe-products img { background: none; height: 69px; width: 92px; }

/* Thumbnail Container */
.pg-thumbnails-frame{display:none;position:absolute;border:1px solid #444;background: #363636;width:591px;box-shadow:0px 0px 3px 0px #000, 0 0 2px rgba(0, 0, 0, .3);}
.pg-thumbnails-frame .hd{overflow:hidden;}
.pg-thumbnails-frame ul{height:564px;overflow:hidden;}
.pg-thumbnails-frame li{float:left;border:2px solid #363636;width:92px;height:69px;background:black;position:relative;text-align:center;margin:0 17px 15px 0px;cursor:pointer;padding:0;}
.pg-thumbnails-frame li .pg-thumbnail.pg-thumbnails-loading{box-shadow:none;background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-ajax-loader.gif") black no-repeat 29px 19px;}
.pg-thumbnails-frame li .pg-thumbnail.pg-thumbnails-loading img{width:32px;height:32px;margin-left: -16px;margin-top: -16px;position:absolute;left:50%;top:50%;}
.pg-thumbnails-frame li .pg-thumbnail{box-shadow:0px 0px 6px rgba( 0, 0, 0, .3 );width:92px;height:69px;}
.pg-thumbnails-frame li.pg-selected-thumbnail, .pg-thumbnails-frame li:hover{border:2px solid #fff;}
.pg-thumbnails-frame .arrow{width:27px;height:15px;position:absolute;left:50%;top: -15px;background:url("http://images.diynetwork.com/webdiy/diy20/imgs/se/diy-photo-sprite.png") no-repeat scroll -1px -1867px;}
.pg-thumbnails-frame .pg-endframe-products{margin:0 0 0 9px;width:auto;overflow:hidden;}
.showing_thumbnails .pagination-container .pagination a{position:static;top:auto;border-color: #575757;color: #63A0BA;background: #464646;}
.showing_thumbnails .pagination-container .pagination .no-more a, .showing_thumbnails .pagination-container .pagination .no-more:hover a{border:0;margin:1px;}
.showing_thumbnails .pg-viewport{height:634px;}
.showing_thumbnails .pg-thumbnails-frame{display:block;left:14px;top:58px;z-index:2;padding:32px 0 40px 23px;}
.showing_thumbnails .pg-photo-display-wrapper.showing-product-panel, .showing_thumbnails .pg-you-might-like, .showing_thumbnails .pg-photo-display-wrapper, .showing_thumbnails .view-all-products, .showing_thumbnails p.pg-author, .showing_thumbnails p.desc, .showing_thumbnails h2{visibility:hidden;}
.showing_thumbnails #social-toolbar{display:none;}
