.breadcrumb {float:left;font-size:0.786em;color:#9B9B9B;}
.breadcrumb span {display:inline-block;height:14px;width:7px;text-indent:-9999em;margin:0 12px;background:url('../imgs/se/sprite.png') 0 -42px;*background-position:0 -48px;overflow:hidden;}
.breadcrumb span.sel {height:14px;background:url('../imgs/se/sprite.png') 0 -90px;*background-position:0 -95px;}