#zone-finder p {
    margin-bottom:10px;
    color:#000;
    line-height:18px;
    }

#zone-finder label {
    color:#666;
    }

#zone-finder .text-box {
    width:165px;
    }

#zone-finder .find {
    text-align:center;
    }

#zone-finder .button {
    width:80px;
    }

#zone-finder ul {
    padding-bottom:8px;
    }

#zone-finder .error {
    color:#666;
    }

#zone-finder .error span {
    color:#c00;
    }

#zone-finder .success .zone {
    display:block;
    padding:7px 0 4px 0;
    color:#195a64;
    font-family:"Trebuchet MS";
    font-size:167%;
    }

#zone-finder .success .details {
    display:block;
    padding-bottom:4px;
    color:#d72d82;
    }

#zone-finder .success .more {
    display:block;
    padding-top:8px;
    line-height:16px;
    }

#zone-finder .success {
    display:none;
    }

#get-inspired .acco-crsl {
    padding-top:20px;
    }

#get-inspired .acco-crsl .jcarousel-item {
    width:165px;
    }

#get-inspired .acco-crsl .jcarousel-clip-horizontal {
    width:165px;
    }

#get-inspired .acco-crsl li img {
    display:inline;
    margin-bottom:0;
    }

#get-inspired .acco-crsl .jcarousel-prev-horizontal {
    left:0;
    }

#get-inspired .acco-crsl .jcarousel-next-horizontal {
    right:0;
    }

#get-inspired .acco-crsl .rating span {
    margin-top:2px;
    margin-bottom:14px;
    }
