.channel-detail div#vid-player-wrap {
    height:auto;
    background:none;
    padding 4px;
    border:1px solid #ccc;
    border-radius:4px;
    }

div#recipe-player-instance {
    margin-bottom:7px;
    display:inline-block;
    }

.vid-html video {
    display:block;
    margin:0 auto;
    width:576px;
    }
#hg-e .rightrail video{ width: 100%;}

.vid-wrap {
    width:100%;
    position:relative;
    background-color:#222;
    height:347px;
    }

#hg-w .feature .vid-wrap {
    height:173px;
    }

#hg-e .vid-wrap {
    height:240px;
    }

.vid-wrap .vid-over {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    background:-moz-linear-gradient(-67deg, #eee, #ccc);
    background:-webkit-linear-gradient(-67deg, #eee, #ccc);
    border:none;
    border-radious:2px;
    box-shadow:2px 2px 10px #999;
    -webkit-box-shadow:2px 2px 10px #999;
    }

.vid-wrap .vid-over div {
    padding:10%;
    font:138.5% Trebuchet MS, arial, sans-serif;
    color:#666;
    }

.vid-wrap .vid-over span.prog {
    display:block;
    width:0;
    height:10px;
    margin:10px 0 0;
    transition:width .1s linear;
    -webkit-transition:width .1s linear;
    -moz-transition:width .1s linear;
    background-color:#777;
    }

.vid-wrap .vid-over span.prog.on {
    width:70%;
    transition:width 5s linear;
    -webkit-transition:width 5s linear;
    -moz-transition:width 5s linear;
    }

.vid-wrap.overlay .vid-over {
    display:-moz-box;
    display:-webkit-box;
    -moz-box-align:center;
    -webkit-box-align:center;
    }

.vid-wrap.overlay video {
    -webkit-transform:translateX(-2048px)
    }

/* additional styles from style config XML applied dynamically when it loads */

.vid-html .crsl {
    overflow:hidden;
    position:relative;
    }

.vid-html.fullscreenwide .crsl, .vid-html.recipe .crsl {
    background:#f1f6f2;
    width:100%;
    height:180px;
    margin-toop:14px;
    padding:36px 0 0 0;
    }

.vid-html.rightrail .crsl {
    width:100%;
    height:49px;
    margin-top:15px;
    padding:15px 0 40px 0;
    background:#fff;
    }

.vid-html .crsl .prev-btn, .vid-html .crsl .next-btn {
    position:absolute;
    display:block;
    width:20px;
    height:20px;
    cursor:pointer;
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    }

.vid-html.fullscreenwide .crsl .prev-btn, .vid-html.fullscreenwide .crsl .next-btn {
    top:78px;
    }

.vid-html.fullscreenwide .crsl .prev-btn {
    left:14px;
    }

.vid-html.fullscreenwide .crsl .next-btn {
    right:14px;
    }

.vid-html.recipe .crsl .prev-btn, .vid-html.recipe .crsl .next-btn {
    top:78px;
    }

.vid-html.recipe .crsl .prev-btn {
    left:14px;
    }

.vid-html.recipe .crsl .next-btn {
    right:14px;
    }

.vid-html.rightrail .crsl .prev-btn, .vid-html.rightrail .crsl .next-btn {
    top:75px;
    }

.vid-html.rightrail .crsl .prev-btn {
    left:120px;
    }

.vid-html.rightrail .crsl .next-btn {
    right:120px;
    }

.lead-feature .vid-html.inline {
    margin:4px 0 10px;
    }

.vid-html .crsl .crsl-wrap {
    margin:0 auto;
    }

.vid-html .crsl .crsl-wrap li.crsl-item {
    float:left;
    position:relative;
    list-style:none;
    }

.vid-html.fullscreenwide .crsl .crsl-wrap li.crsl-item, .vid-html.recipe .crsl .crsl-wrap li.crsl-item {
    width:104px;
    margin:7px 7px;
    }

.vid-html.rightrail .crsl .crsl-wrap li.crsl-item {
    width:156px;
    margin:0 4px 0 0;
    }

.vid-html.rightrail .crsl .hd {
    margin:0;
    padding:0;
    background:none;
    }

#hg-e .vid-html .crsl li a img {
    border:none;
    padding:1px;
    }

.vid-html .crsl li img {
    display:block;
    }

.vid-html.fullscreenwide .crsl li img, .vid-html.recipe .crsl li img {
    width:92px;
    height:69px;
    border-width:2px;
    border-style:solid;
    }

.vid-html.rightrail .crsl li img {
    width:60px;
    height:45px;
    float:left;
    padding:1px 0 1px 1px;
    }

.vid-html .crsl li .icn {
    width:33px;
    height:33px;
    position:absolute;
    background-image:url(../imgs/html5-vid/play-medium.png);
    }

.vid-html.fullscreenwide .crsl li .icn, .vid-html.recipe .crsl li .icn {
    top:30px;
    left:54px;
    }

.vid-html.rightrail .crsl li .icn {
    top:12px;
    left:26px;
    }

.vid-html .crsl li a:hover .icn {
    background-image:url(../imgs/html5-vid/play-medium-over.png);
    }

.vid-html .crsl li.sel .icn, .vid-html .crsl li.sel a:hover .icn {
    background-image:none;
    }

.vid-html .crsl li a {
    display:block;
    border:1px solid #a7bfa9;
    padding:5px;
    width:92px;
    height:129px;
    }

#hg-w .vid-html .crsl li a img {
    border:none;
    padding:0;
    }

.vid-html.rightrail .crsl li a {
    border:1px solid #a7bfa9;
    height:47px;
    width:149px;
    padding:0;
    }

.vid-html .crsl li a:hover {
    text-decoration:none;
    border:1px solid #ef4141;
    }

.vid-html .crsl li.sel a:hover {
    cursor:default;
    }

.vid-html .crsl li a:hover span {
    text-decoration:underline;
    }

.vid-html .crsl li.sel a:hover span {
    text-decoration:none;
    }

.vid-html .crsl li a:hover .sec {
    text-decoration:none;
    }

.vid-html .crsl li p {
    font-size:84.6%;
    line-height:1.3em;
    margin:4px 0 0;
    }

.vid-html.rightrail .crsl li p {
    width:70px;
    margin:4px 7px;
    float:left;
    font-size:76.9%;
    letter-spacing:-.2px;
    line-height:1.1em;
    }

.vid-html .crsl .controls {
    padding:7px 0;
    z-index:3;
    top:-40px
    }

.vid-html.fullscreenwide .crsl .controls.btn-nav, .vid-html.recipe .crsl .controls.btn-nav {
    top:-28px;
    }

.vid-html.rightrail .crsl .controls.btn-nav {
    top:58px;
    }

.vid-html .crsl .controls.btn-nav span {
    display:block;
    height:8px;
    width:8px;
    background:transparent no-repeat 0 0;
    text-indent:-9999px;
    float:left;
    margin:0 1px;
    cursor:pointer;
    }

.vid-html .crsl .controls.btn-nav span.active {
    cursor:default;
    }

.vid-html .crsl .crsl-wrap {
    width:475px;
    }