html * {font-family: Arial;}
ul {clear: both;}


.centered {
	width: 90%;
	margin: 0px auto;
	
	header{
		margin-bottom: 15px;
		h2 a {
		font-size: 21px;
		}
	}
}

/*dupe of above... should replace mod with centered */
.mod {
	width: 90%;
	margin: 0px auto;
	
	hgroup{
		margin-bottom: 15px;
		h2 a {
		font-size: 21px;
		}
	}
}
 